.user-gallery {

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 1024.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 768.1px) and (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
